# Honey Inventory Configuration Settings
# Intended to be used by the end-user
# https://docs.builtoncement.com/core-foundation/configuration-settings#configuration-settings-vs-meta-options
---

honey:

### Toggle application level debug (does not toggle framework debugging)
# debug: false

### Where external (third-party) plugins are loaded from
# plugin_dir: /var/lib/app/plugins/

### Where all plugin configurations are loaded from
# plugin_config_dir: /etc/app/plugins.d/

### Where external templates are loaded from
# template_dir: /var/lib/app/templates/

### The log handler label
# log_handler: colorlog

### The output handler label
# output_handler: jinja2

### sample foo option
  foo: barely

### Database connection currently hard coded in honey.core.database and test.confftest
  DB_CONNECTION: 'postgresql+psycopg2://postgres:password@localhost:5432/hgdb'

### Redis cache keys
  WAREHOUSE_CACHE_KEY: 'honey-active-warehouse'

honeytest:

  DB_CONNECTION: 'postgresql+psycopg2://postgres:password@localhost:5432/hgdbtest'
  WAREHOUSE_CACHE_KEY: 'honeytest-active-warehouse'



log.colorlog:

### Where the log file lives (no log file by default)
# file: null

### The level for which to log.  One of: info, warning, error, fatal, debug
# level: info

### Whether or not to log to console
# to_console: true

### Whether or not to rotate the log file when it reaches `max_bytes`
# rotate: false

### Max size in bytes that a log file can grow until it is rotated.
# max_bytes: 512000

### The maximun number of log files to maintain when rotating
# max_files: 4
