
---------------
Warehouse Table
---------------
{% if result is iterable and result is not string %}
{% for key, value in result.items() %}name: {{ value }}, Warehouse.id: {{ key }}
{% endfor %}
{% endif %}